<html>
<body>

<table border="1" bgcolor="#fb7b7b">
  <tr>
    <th>代码</th>
    <th>股票名称</th>
    <th>地域</th>
    <th>行业</th>
    <th>市场</th>
    <th>上市日期</th>
  </tr>
  <tr>
    <td><a href ="stock_info1.htm" target ="showframe">000001</a></td>
    <td>平安银行</td>
    <td>深圳</td>
    <td>银行</td>
    <td>主板</td>
    <td>19910403</td>
  </tr>
  <tr>
    <td><a href ="stock_info1.htm" target ="showframe">000001</a></td>
    <td>万科A</td>
    <td>深圳</td>
    <td>全国地产</td>
    <td>主板</td>
    <td>19910129</td>
  </tr>
  <tr>
    <td><a href ="stock_info1.htm" target ="showframe">000001</a></td>
    <td>万科A</td>
    <td>深圳</td>
    <td>全国地产</td>
    <td>主板</td>
    <td>19910129</td>
  </tr>
  <tr>
    <td><a href ="stock_info1.htm" target ="showframe">000001</a></td>
    <td>万科A</td>
    <td>深圳</td>
    <td>全国地产</td>
    <td>主板</td>
    <td>19910129</td>
  </tr>
  <tr>
    <td><a href ="stock_info1.htm" target ="showframe">000001</a></td>
    <td>万科A</td>
    <td>深圳</td>
    <td>全国地产</td>
    <td>主板</td>
    <td>19910129</td>
  </tr>
</table>

</body>
</html>
